@import org.webjars.play.WebJarsUtil
@(title: String)(content: Html)(implicit assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
        <link rel="stylesheet" href="@webJarsUtil.url("bootstrap.min.css")">

        <script src="@assets.path("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@webJarsUtil.url("jquery.min.js")"></script>
        <script src="@webJarsUtil.url("bootstrap.min.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
