@import org.webjars.play.WebJarsUtil
@(title: String)(content: Html)(implicit assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        @Html(webJarsUtil.css("bootstrap.min.css"))
        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
        @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/hello.js")))

        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
    </head>
    <body>
        @content
    </body>
</html>
